    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #eeeef6;
    }

    :root {
        --dark: #31343c;
        --light: #9ecacd;
        --text: #485874;
    }

    header {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: var(--dark);
        color: var(--light);
    }

    header h1 {
        display: inline-block;
        width:22%;
        height: 70px;
        text-align: right;
        color: var(--dark);   
        background-color: var(--light);
        font-size: 64px;
        font-weight: bolder;
    }

    header nav {
        position: relative;
        flex-wrap: wrap;
        align-items: left;
        background: var(--dark)
    }

    header a {
        color:var(--light);
        background: var(--dark);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 24px;
        padding: 20px
    }
  
    .banner {
        position: relative;
    }

    .banner img {
        height: 275px;  
        width: 100%;
    }
    
    .subtitle {
        position:absolute;
        bottom: 8px;
        right:16px;
        font-size: 48px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color: var(--dark);
        background-color: var(--light);  
    }
    
    main {
        display: flex;  
        flex-direction: column;
        background: #eeeef6;
    }
    
    main h2 {
        color: var(--text);
        font-size: 64px; 
        font-family:sans-serif;
        padding: 5px;
        border-right: 7px solid var(--text);
        width: 35vh;
        text-align: right;
    }
    
    main .about-me {
        display: flex; */
        flex-direction: row;
        justify-content:s start;
        padding: 15px;
    }
  
    main p {
        padding: 10px;
        color: var(--text);
        font-size: 24px;
        font-weight: bolder;
        width: 60vw;
    }
    
    main .work {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 15px;
        justify-content: start;
        padding:15px;
    }
    
    main .work-examples {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-content: start;
        padding:0px;
    }
    
    .card {
        display: flex;
        flex-flow: column wrap;
        position: relative;
        padding:0;
        border: 5px solid var(--light);
        margin: 10px;
        width: 30vw;
        height: 30vh;
        background: var(--light);

    }

    .card:hover {
        box-shadow: 10px 10px 10px 10px var(--dark);
        opacity: 50%;
    }
     
    /* These are written as class vice id for the sake of clean html. The parent class is card.*/
    .surf-report {
        width: 60vw;
        height:60vh;
        background-image:url(./images/surf_wave.png);
    }

    .led-wall {
        height: 30vh;
        width: 30vw;
        background-image:url(./images/led_wall.png);  
        border: 3px solid var(--light)
    }
    
    .calculator {
        height: 30vh;
        width: 30vw;
        background-image:url(./images/calculator.png) ;  
        border: 3px solid var(--light)
    }

    .puzzle {
        height: 30vh;
        width: 30vw;
        background-image:url(./images/puzzle.png) ;  
        border: 3px solid var(--light)
    }

    .run-buddy {
        height: 30vh;
        width: 30vw;
        background-image:url(./images/sonic_running.png) ;  
        border: 3px solid var(--light)
    }
    
    .card h3 {
        position: absolute;
        bottom: 25px;
        left: -1px;
        color: var(--dark);
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--light);
        width: 200px;
        padding: 5px; 
    }
    
    .card p {
        position: absolute;
        bottom:-1px;
        left: -1px;
        color: var(--dark);
        font-size: 14px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--light);
        width: 200px; 
        padding: 5px; 
    }

    .work h2 {
        width: 35vh;
        align-content: end;
    }
    
    main .contact-me {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        padding: 15px;
    }
    
    main .contact-me a {
        color: var(--text);
        font-size: 36px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 15px;
    }
    
    footer {
        text-align: center;
        background: #eeeef6;
    }
    
    @media screen and (max-width: 1819px) {
        
        header h1 {
            font-size: 36px;
        }

        main .about-me h2 {
            width: 25vw;
        }

        main .about-me p {
            width: 60vw;
        }

        main .work h2 {
            width: 25vw;
        }

        main .contact-me h2 {
            width: 25vw;
        }
    }
    
    @media screen and (max-width: 992px) {
    
        header {
            flex-direction: column;
            background-size: contain;
            height:150px;
        }

        header h1 {
            width: 100%;
            text-size-adjust: auto;
            padding: 5px;
            display:inline-flex;
        }

        header nav {
            flex-flow: row wrap;
            position: relative;
        }
    
        main h2 {
            border-bottom: 5px solid var(--text);
            border-right: none;
            align-items: center;
        }
    
        main .about-me {
            flex-flow: column wrap;
            align-content: start;
        }  
    
        main .work {
            display: flex;
            flex-flow: column wrap;
            align-content: center;
        }

        main .contact-me {
            flex-flow: column wrap;
            align-content: start;
        }
    
        .card {
            width: 80vw;
            height: 20vh;
        
        }

    }

